/*
EQUIPE  
*/

#equipe { 
  margin-bottom: 60px;
  display: flex;
  flex-direction: column;
}

#equipe h2 {
    margin-top: 40px;
    margin-bottom: 60px;
    text-align: center;
}

.membro {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.descricao {
    display: flex;
    flex-direction: column;
    text-align: center;
}

h3 {
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: bold;
}

h4 {
    margin-bottom: 20px;
    font-size: 14px;
    font-weight: 700;
}
.descricao p {
    font-size: 14px;
    text-align: justify;
    margin-bottom: 0px;
}

.esquerda{
    text-decoration: none;
    color: #142914;
    width: 215px;
    text-align: center;
}

.direita{
    text-decoration: none;
    color: #142914;
    width: 90%;
    margin-left: 5%;
    text-align: right;
}

#equipe img {
    border: 3px solid;
    border-color: #0a4403;
    border-radius: 20%;
    height: 200px;
    width: auto;
    margin-right: 15px;
    margin-left: 15px;
}

#equipe div {
    width: 90%;
    margin: auto;
    margin-bottom: 20px;
}

/*
FOOTER
*/

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #142914;
    color: #f1f1f1;
    height: 100px;
    justify-content: center;
}

/*/*
MEDIA QUERIES
*/

@media screen and (min-width: 768px) {
    /*
    NAVEGAÇÃO
    */
    nav {
        flex-direction: row;
        justify-content: space-around;
    }
    
    nav ul {
        flex-direction: row;
        width: 70%;
    }

    /*
    FOOTER
    */
    
    footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        background-color: #142914;
        color: #f1f1f1;
        height: 10vh;
        justify-content: center;
        height: 70px;
    }

}


@media screen and (min-width: 1600px) {
    
    #equipe{
        max-width: 1400px;
        margin: auto;
    }

    
}